*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Neue Montreal Regular';
  font-size: 12px;
  font-weight: 400;
  color: var(--title-black-text-color);
}

input {
  width: 100%;
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
