@media screen and (min-width: 375px) {
  .popular-discount-block {
    width: 335px;
  }
}
@media screen and (min-width: 768px) {
  .popular-discount-block {
    width: 704px;
  }
  .popular_list {
    margin-bottom: 16px;
  }
  .discount_list {
    gap: 32px;
  }
  .popular_card_item {
    width: 275px;
  }
  .discount_card_item {
    width: 336px;
  }
  .popular_title {
    font-size: 28px;
    line-height: 32px;
  }

  .card_title {
    font-size: 20px;
    line-height: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .popular-discount-block {
    width: 275px;
  }
  .discount_card_item {
    width: 100%;
  }
}
