@media screen and (min-width: 375px) {
}
@media screen and (min-width: 768px) {
  .products-list-general {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }
  .product-card {
    height: 360px;
  }
}
.general-card-price {
  margin-top: 50px;
}
@media screen and (min-width: 1440px) {
  .products-list-general {
    gap: 0;
  }
  .products-list-general > *:not(:last-child) {
    margin-right: 20px;
    margin-bottom: 40px;
  }
  .product-card {
    height: 360px;
  }

  .product-card {
    width: 295px;
    height: 363px;
    padding-right: 20px;
  }
  .card-img-wrp {
    width: 255px;
    height: 178px;
  }
  .general-card-container {
    margin-right: 8px;
    flex-flow: wrap row;
  }
  .general-card-price {
    margin-top: 30px;
  }

  /*************/
  .product-list-container {
    display: flex;
  }
}
