@media only screen and (min-width: 376px) and (max-width: 768px) {
  .cart-properties-list {
    margin-bottom: 36px;
    flex-wrap: nowrap;
  }

  .cart-empty-description {
    width: 90%;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1440px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .section-cart {
    padding-top: 80px;
    padding-bottom: 100px;
  }
  .cart-title {
    font-size: 32px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  }
  .cart-icon-shopping {
    padding: 12px;
    width: 42px;
    height: 42px;
  }

  .delete-all-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
  }

  .delete-all-box {
    margin-bottom: 0;
  }

  .cart-shopping-item {
    padding: 40px 0;
  }

  .cart-shopping-img {
    width: 120px;
    height: 120px;
    margin-right: 40px;
  }

  .cart-info-name-product {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  .cart-delete-icon {
    width: 20px;
    height: 20px;
  }

  .cart-properties-subtitle {
    font-size: 14px;
    line-height: 1.28;
  }

  .cart-info-price {
    font-size: 20px;
    line-height: 1.2;
  }
  .cart-properties-list {
    margin-bottom: 46px;
  }
  .cart-counter-wrapper {
    font-size: 20px;
    line-height: 1.2;
    padding: 5px;
    width: 96px;
    height: 34px;
  }
  .cart-counter-value {
    margin: 0 10px;
    font-size: 20px;
    line-height: 1.2;
  }
  .cart-order {
    padding: 60px 0 100px;
    width: 590px;
  }
  .cart-total-price-box {
    padding: 14px 28px;
    margin-bottom: 40px;
  }
  .cart-title-your-order {
    font-size: 32px;
    line-height: 1;
  }
  .cart-total-price-text {
    font-size: 20px;
    line-height: 1.2;
  }
  .cart-total-price-number {
    font-size: 32px;
    line-height: 1;
  }
  .cart-form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .cart-form-label {
    font-size: 18px;
    line-height: 1.33;
    position: absolute;
    left: 20px;
    top: 16px;
  }
  .cart-form-input {
    width: 359px;
    padding: 15px 20px 15px 63px;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 1.33;
    gap: 16px;
  }
  .cart-form-btn {
    width: 215px;
    padding: 15px 65px;
    font-size: 20px;
    line-height: 1.2;
  }
  .cart-empty {
    margin: 135px 0px 120px 0;
  }
  .cart-empty-img {
    width: 164px;
    height: 140px;
    margin-bottom: 40px;
  }

  .cart-empty-text,
  .cart-empty-link {
    font-size: 20px;
    line-height: 1.2;
  }
  .cart-empty-description {
    width: 387px;
    font-size: 18px;
    line-height: 1.33;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .cart-shopping-item {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .cart-shopping-list {
    min-height: 480px;
  }

  .cart-shopping-img {
    width: 120px;
    height: 120px;
  }

  .cart-info-name-product {
    margin-bottom: 12px;
  }

  .cart-properties-list {
    margin-bottom: 44px;
  }
  .cart-title {
    width: 50%;
  }
  .delete-all-box {
    width: 515px;
  }
  .cart-content {
    flex-direction: row;
    justify-content: space-between;
  }
  .cart-products {
    width: 550px;
    max-height: 580px;
    overflow-x: hidden;
    padding-right: 40px;
  }
  .cart-order {
    width: 590px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1440px) {
  .cart-order-info {
    width: 500px;
  }
}

@media only screen and (min-width: 1440px) {
  .cart-order-info {
    width: 590px;
    margin-left: auto;
  }
  .posrel {
    position: relative;
  }
  .cart-order {
    position: absolute;
    left: 50%;
    top: 0%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1440px) {
  .cart-order-info-text {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 25px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1440px) {
  .cart-order-info-input {
    margin-bottom: 20px;
    padding: 15px 20px 15px 20px;
    font-size: 18px;
    line-height: 1.33;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1440px) {
  .cart-order-info-btn {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    padding: 15px 65px;
    font-size: 20px;
    line-height: 1.2;
  }
}

@media only screen and (min-width: 1440px) {
  .cart-order-info-text {
    margin-bottom: 25px;
  }

  .cart-order-info-input {
    margin-bottom: 20px;
  }

  .cart-order-info-btn {
    padding: 15px;
    font-size: 20px;
  }
}
