@media only screen and (min-width: 320px) and (max-width: 375px) {
  .order-modal {
    width: 90%;
  }
  .order-text {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .order-modal {
    width: 560px;
    height: 509px;
    padding: 80px 40px;
  }
  .order-close-icon {
    width: 28px;
    height: 28px;
    top: 24px;
    right: 24px;
  }
  .order-title {
    font-size: 32px;
    line-height: 1;
  }
  .order-text {
    font-size: 18px;
    line-height: 1.33;
    width: 480px;
  }
}
