@media only screen and (min-width: 376px) and (max-width: 768px) {
  .general-span-container {
    padding-left: 20px;
    justify-content: start;
    padding-right: 20px;
  }
  .products-list-general {
    width: 335px;
  }
  .products-list-discount {
    width: 328px;
    height: 470px;
  }
  .product-card-general {
    width: 100%;
  }
  .discount-product-card {
    width: 315px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1440px) {
  .product-list {
    padding-bottom: 100px;
  }

  .products-list-general {
    width: 704px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    padding-bottom: 50px;
  }
  .products-list-general:nth-child(2) {
    gap: 0px;
  }

  .product-card-general {
    width: 336px;
    border-radius: 20px;
  }

  .img-wrapper {
    padding: 20px;
  }

  .general-card-title {
    color: var(--title-black-text-color);
    font-family: 'Neue Montreal Medium';
    font-size: 20px;
    line-height: 1.11;

    padding-left: 20px;
    margin-bottom: 10px;
  }
  .general-span-container {
    display: flex;
    gap: 8px;
    padding-left: 20px;
    justify-content: start;
  }
  .general-card-price {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 20px 20px 20px;
  }
  .general-span-price {
    color: var(--title-black-text-color);
    font-family: 'Neue Montreal Medium';
    font-size: 20px;
    line-height: 1.2;
  }
  .addToCart-btn {
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    background: var(--secondary-bg-green-color);
    border: none;
  }
  .cart-svg {
    fill: var(--card-bg-color);
  }
  .products-list-popular {
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 16px;
    margin-bottom: 64px;
    padding-bottom: 10px;

    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 115px;
    width: 600px;
  }
  .popular-product-card {
    width: 450px;
  }

  .popular-title {
    font-size: 28px;
    line-height: 1.14;
  }

  .popular-card-img {
    padding: 9px;
    width: 56px;
  }
  .popular-card-info {
    width: 180px;
  }
  .popular-card-title {
    font-size: 20px;
    font-weight: 500;
  }

  .products-list-discount {
    column-gap: 32px;
    flex-direction: column;
    flex-wrap: wrap;
    height: 250px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .discount-title {
    font-size: 28px;
    line-height: 1.14;
  }
  .discount-product-card {
    width: 336px;
    padding: 16px 16px 21px 16px;
  }

  .discount-img-wrapper {
    margin-bottom: 21px;
  }
}

@media only screen and (min-width: 1440px) {
  .product-list {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .product-list-container {
    display: flex;
    column-gap: 40px;
  }
  .products-list-general {
    flex-direction: row;
    flex-wrap: wrap;
    width: 925px;
    padding-top: 12px;
    row-gap: 40px;
    column-gap: 20px;
  }

  .product-card-general {
    width: 295px;
    height: 363px;
  }

  .card-img {
    padding: 19px 57px;
  }

  .general-card-container {
    width: 250px;
  }

  .general-card-title {
    font-size: 20px;
    line-height: 1.12;
    margin-bottom: 10px;
  }
  .general-span-container {
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: start;
    width: 240px;
    flex-wrap: wrap;
    row-gap: 4px;
    column-gap: 8px;
  }
  .general-card-price {
    padding: 0 20px 20px 20px;
  }
  .general-span-price {
    font-size: 20px;
    line-height: 1.2;
  }
  .addToCart-btn {
    padding: 8px;
    gap: 10px;
    background: var(--secondary-bg-green-color);
    border: none;
  }
  .addToCart-btn:hover,
  .addToCart-btn:focus {
    background-color: var(--primary-bg-green-color);
  }

  .container-popular-discount {
    display: flex;
    flex-direction: column;
    padding-top: 12px;
  }

  .products-list-popular {
    height: 604px;
    row-gap: 13px;
    padding-bottom: 40px;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  .popular-product-card {
    width: 275px;
  }

  .popular-title {
    font-size: 28px;
    line-height: 1.14;
  }

  .popular-span-container {
    row-gap: 3px;
  }

  .products-list-discount {
    row-gap: 20px;
    flex-wrap: nowrap;
    height: 485px;
    width: 333px;
    overflow: scroll;
    overflow-x: hidden;
  }

  .discount-title {
    font-size: 28px;
    line-height: 1.14;
  }
  .discount-product-card {
    width: 275px;
    padding: 16px 16px 21px 16px;
  }
  .discount-card-title {
    font-size: 20px;
  }

  .span-price {
    font-size: 20px;
  }
  .discount-img-wrapper {
    margin-bottom: 12px;
    padding: 23px 69px 22px 69px;
  }

  .discount-svg-icon {
    top: -19px;
    right: -6px;
  }
}
