@media only screen and (min-width: 768px) {
  #tui-pagination-container.tui-pagination {
    margin-bottom: 50px;
    gap: 8px;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1440px) {
  #tui-pagination-container.tui-pagination {
    width: 568px;
    height: 40px;
    margin-bottom: 41px;
  }
}

@media only screen and (min-width: 768px) {
  .tui-pagination.tui-page-btn {
    margin: 8px;
  }
}

@media only screen and (min-width: 768px) {
  .tui-pagination .tui-prev {
    margin-right: 45px;
  }
}

@media only screen and (min-width: 768px) {
  .tui-pagination .tui-next {
    margin-left: 45px;
  }
}

@media only screen and (min-width: 768px) {
  .tui-pagination {
    max-width: 472px;
    gap: 20px;
  }
}
