body {
  background: var(--primary-bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  flex-shrink: 0;
}

.cart-products {
  max-height: 540px;
  overflow-x: hidden;
  padding-right: 40px;
  margin-bottom: 80px;
}

.section-cart {
  padding-top: 37px;
  padding-bottom: 80px;
}

.cart-title {
  color: var(--title-black-text-color);
  font-family: 'Neue Montreal Medium';
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}
.cart-icon-shopping {
  padding: 10px;
  border-radius: 50%;
  background: var(--secondary-bg-green-color);
  fill: var(--primary-bg-color);
  margin-right: 14px;
  width: 38px;
  height: 38px;
}

.delete-all-box {
  display: flex;
  gap: 8px;
  justify-content: end;
  align-items: center;
  margin-bottom: 10px;
  padding-right: 7px;
  cursor: pointer;
}
.delete-all-boxt:hover {
  fill: var(--secondary-text-color);
  color: var(--secondary-text-color);
}

.delete-all-text {
  color: var(--title-black-text-color);
  font-family: 'Neue Montreal Medium';
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
}

.delete-all-icon {
  fill: var(--title-black-text-color);
}

.cart-content {
  display: flex;
  flex-direction: column;
}

.cart-shopping-list {
  display: flex;
  flex-direction: column;
}

.cart-shopping-item {
  display: flex;
  padding: 30px 0;
}

.cart-shopping-item:not(:last-child) {
  border-bottom: 1px solid var(--secondary-text-color);
}
.cart-shopping-img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background: var(--card-bg-color);
  margin-right: 20px;
}

.cart-item-info {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.cart-info-top {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 10px;
}

.cart-delete-icon {
  position: absolute;
  right: 0;
  top: -8px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.cart-info-name-product {
  color: var(--title-black-text-color);
  font-family: 'Neue Montreal Medium';
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
}

.cart-properties-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 16px;
}

.cart-properties-item {
  display: flex;
  gap: 4px;
  align-items: baseline;
}

.cart-properties-caption {
  color: var(--secondary-text-color);
  font-family: 'Neue Montreal Regular';
  font-size: 12px;
  line-height: 1.16;
}

.cart-properties-subtitle {
  color: var(--title-black-text-color);
  font-family: 'Neue Montreal Regular';
  font-size: 12px;
  line-height: 1.16;
}

.cart-info-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cart-info-price {
  color: var(--title-black-text-color);
  font-family: 'Neue Montreal Medium';
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
}

.cart-counter-wrapper {
  border: 1px solid var(--secondary-text-color);
  border-radius: 100px;
  align-items: center;
  justify-content: center;
  padding: 4px;
  display: flex;
  width: 74px;
  height: 26px;
}

.cart-counter-value {
  color: var(--title-black-text-color);
  font-family: 'Neue Montreal Regular';
  font-size: 16px;
  font-weight: 400;
  line-height: 1.12;
  margin: 0 6px;
}

.cart-counter-decrement,
.cart-counter-increment {
  border: none;
  outline: transparent;
  background-color: transparent;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.12;
}

.cart-title-your-order {
  color: var(--title-black-text-color);
  font-family: 'Neue Montreal Medium';
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.cart-total-price-box {
  width: 100%;
  border-radius: 8px;
  background: var(--body-cart-color);
  padding: 14px 18px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 30px;
}

.cart-total-price-text {
  color: var(--title-black-text-color);
  font-family: 'Neue Montreal Medium';
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
}

.cart-total-price-number {
  color: var(--title-black-text-color);
  font-family: 'Neue Montreal Medium';
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;
}
.cart-total-price-sum {
  color: var(--secondary-text-color);
  font-family: 'Neue Montreal Regular';
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
}

.cart-form {
  width: 100%;
  position: relative;
}

.cart-form-input {
  border-radius: 30px;
  border: 1px solid var(--span-info-color);
  padding: 12px 12px 12px 45px;
  margin-bottom: 14px;
  color: var(--title-black-text-color);
  font-family: 'Neue Montreal Regular';
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  outline: transparent;
}

.cart-form-btn {
  width: 100%;
  border-radius: 30px;
  background: var(--secondary-bg-green-color);
  padding: 12px;
  color: var(--title-white-text-color);
  outline: transparent;
  border: none;
  font-family: 'Neue Montreal Medium';
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
}
.cart-empty {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 105px 0px 120px 0;
}
.cart-empty-retina {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-empty-img {
  width: 132px;
  height: 114px;
  margin-bottom: 28px;
}

.cart-empty-text {
  margin-bottom: 14px;
  color: var(--title-black-text-color);

  font-family: 'Neue Montreal Medium';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.11;
}

.cart-empty-description {
  width: 90%;
}

.cart-empty-link {
  color: var(--secondary-bg-green-color);
  text-decoration: none;
  font-family: 'Neue Montreal Medium';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.11;
}
.cart-empty-description {
  font-family: 'Neue Montreal Regular';
  color: var(--secondary-text-color);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
}

.cart-order-info-text {
  color: var(--title-black-text-color);
  font-family: Neue Montreal Medium;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  margin-bottom: 15px;
}

.datetime-label {
  font-family: Neue Montreal Medium;
  margin-left: 10px;
}

.datetime {
  margin-top: 10px;
}

.cart-order-info-input {
  color: var(--title-black-text-color);
  border-radius: 30px;
  border: 1px solid var(--span-info-color);
  padding: 12px 12px 12px 20px;
  font-family: Neue Montreal Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  margin-bottom: 15px;
}

.cart-order-info-btn {
  width: 100%;
  background: var(--secondary-bg-green-color);
  color: var(--title-white-text-color);
  border: none;
  border-radius: 30px;
  outline: var(--title-black-text-color);
  padding: 12px;
  font-family: Neue Montreal Medium;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
}
