.filters {
    /* background-color: var(--primary-bg-color); */
    padding-top: 37px;
    padding-bottom: 20px;
}

.filters-text {
    color: var(--span-info-color);
    margin-bottom: 10px;
    font-size: 14px;
}

.filters-form {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 100%;
}

.filters-input::placeholder {
    color: #010101;

    font-family: "Neue Montreal Regular";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px
}

.filters-input,
.filters-categories,
.filters-allTypes {
    cursor: pointer;
}