img {
  border-radius: 60px;
}

.hero-picture {
  display: block;
}


.hero-picture-block {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}


.hero {
     padding-top: 37px;
  padding-bottom: 37px;
}


.hero-title {
  color: rgba(1, 1, 1, 1);
  text-align: center;
  font-family: 'Neue Montreal Medium';
  font-size: 44px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.09;
  letter-spacing: -0.02em;
  width: 100%;
  margin: 0 auto 16px;
}


.hero-title-accent {
  color: rgba(109, 132, 52, 1);
}



.hero-text {
  width: 100%;
  color: rgba(1, 1, 1, 0.8);
  text-align: center;
  font-family: 'Neue Montreal Medium';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.09;
  letter-spacing: -0.01em;
  margin: 0 auto;
  margin-bottom: 31px;
}


