.order-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--backdrop-background);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.order-modal {
    position: relative;
    width: 335px;
    height: 428px;
    border-radius: 20px;
    background:  var( --primary-bg-color);
    padding: 40px 20px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.order-close-icon {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 14px;
    right: 14px;
    z-index: 101;
    cursor: pointer;
}
.order-image {
    width: 140px;
    height: 140px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}
.order-title {
    font-family: 'Neue Montreal Medium';
    color: var(--title-black-text-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.11;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}
.order-text {
    color: var(--modal-text);
    text-align: center;
    font-size: 14px;
    line-height: 1.29;
    width: 295px;
}