#tui-pagination-container.tui-pagination {
  height: 40px;
  display: flex;
  gap: 4px;
  margin: 0 auto 80px;
  justify-content: space-between;
}
.tui-pagination {
  margin-left: auto;
  margin-right: auto;
}

.tui-pagination * {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tui-ico-ellipsis,
.tui-ico-first,
.tui-ico-last,
.tui-ico-next,
.tui-ico-prev {
  overflow: hidden;
}

.tui-pagination {
  height: 28px;
  line-height: normal;
  text-align: center;
  font-size: 0;
}

#tui-pagination-container .tui-page-btn {
  display: inline-block;
  position: relative;

  padding: 8px;
  margin-left: 0;

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
  color: var(--pagination-color);

  vertical-align: middle;
  border: 1px;
  border-width: 1px 0;
  border-radius: 50%;
  margin: 2px;
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

#tui-pagination-container.tui-pagination .tui-page-btn:hover {
  background-color: var(--secondary-bg-green-color);
  color: var(--title-white-text-color);
}

.tui-pagination .tui-is-selected,
.tui-pagination strong {
  color: var(--title-white-text-color);
  background: var(--secondary-bg-green-color);
  border-color: var(--secondary-bg-green-color);
  cursor: default;
}

.tui-pagination .tui-is-selected:hover {
  background-color: var(--secondary-bg-green-color);
}

.tui-pagination .tui-first-child.tui-is-selected,
.tui-pagination strong.tui-first-child {
  margin-left: 0;
}

.tui-pagination .tui-first-child.tui-is-selected {
  border-left: 1px solid var(--secondary-bg-green-color);
}

.tui-pagination .tui-last-child.tui-is-selected {
  border-right: 1px solid var(--secondary-bg-green-color);
}

.tui-pagination .tui-first,
.tui-pagination .tui-prev,
.tui-pagination .tui-next,
.tui-pagination .tui-last,
.tui-pagination .tui-prev-is-ellip,
.tui-pagination .tui-next-is-ellip {
  overflow: hidden;
  height: 26px;
  padding: 0;
  font-size: 0;
  line-height: 38px;
  white-space: nowrap;
  font-weight: normal;
  background: var(--card-bg-color);
  border: 1px solid var(--card-bg-color);
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tui-pagination .tui-prev-is-ellip {
  border-right: 0;
}

.tui-pagination .tui-next-is-ellip {
  border-left: 0;
}

.tui-pagination .tui-first + .tui-prev,
.tui-pagination .tui-next + .tui-last {
  border-left: 0;
}

.tui-pagination .tui-ico-first,
.tui-pagination .tui-ico-prev,
.tui-pagination .tui-ico-next,
.tui-pagination .tui-ico-last,
.tui-pagination .tui-ico-ellip {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAiCAYAAAA+stv/AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6N0YwN0I4MUNDNjk0MTFFNjgzNjg5NTM0OEZDQ0YxNTUiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6N0YwN0I4MURDNjk0MTFFNjgzNjg5NTM0OEZDQ0YxNTUiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo3RjA3QjgxQUM2OTQxMUU2ODM2ODk1MzQ4RkNDRjE1NSIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo3RjA3QjgxQkM2OTQxMUU2ODM2ODk1MzQ4RkNDRjE1NSIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PlM+zvEAAAMuSURBVHjaxFdrS5RREH73Zako6kt92x8QRR+qXYjoQneTyKCoMAmKspLI6EMQFBjSxehCdLGixa5maHbZilIro9uH2C2IoF+w/6EstJnleXV2mvO+W6458CA+45mZc+aceV5jyWTSU7aEsJOwUXO5XK7A5fN5vWYFoZawXnOJRKLAufLEDbKTsCmC08nblN/izDy+Iu9h0TNwSw3OlbwLXIXBSSuK6avkNSp5h+JKSX4nInlRTC6g0kheGZG8ykheFZHcjClb0Gcs6nP08Ad+DkRwXlRMH9XUoLpl4C1OWhd22oZWuDhpZkxfOHlxuypCc+UooiimbMFz4Vwewukiqo0iqkOKKIrpO5x1EZy0biSsjeDMPDHvL8yYgCUbTUST971RtjjNaO7VDRxLYOcIHwm3Hes6sOaJ4C4ScoSWEk+voBV8AtdxYVYLJwc/Q9jmKOAy4RZhreDShCYIWZQFUzQdx61dB3HghPexkwr4xhAuqQAvCWsID/kUcaM/42l1Y815R/KicR2o4SuM0kdYfBcBWSN6CGMJZ1WgNzi1DNZwu74QFqNAXnMqLLmH6gN7S1iFvk4kXCV8FQEnERpVwPeElRgw7G8mfCMswqY4ToPQimtaK3xjTvcr7hcQZjz/vyuuX+iDUytkAXNQ2X7snm0q4TV21mgknofXs0/c/mlYw3fgWMToHixgPo6xHq+CbTqhF6/hhJF8AfpfJ57rDKw5TjhZin746DEH2oELwjYTgY6iAOvDIoNR2w5uFvreEPIC/tAKvoR7CFsQMLBdhEOiFdrYv1kNou2EA65B5NKP/6YFLl0YdS2IkRYEzyKmnknR7/Q/weBpQT9aVQu8TCYjtaIVk3JETqAFWrDB4W8WQydcDbPZrL4HUb97qVSqR4zhcYSb6k96MVXZPx5CNTS1BoZmUXwY7XuHt8yDaIIhWB+En4u8YJ7AMO9QFoLFb3sy4Yjyf8KceUGYQjg8El9EPw39KEUrylJAMDFPG7tnmw1/E1DWFrB4PSUcJFwx/HMJjzEd085X8I/JF+LjpR7PURt/Dzwg7Bb6UtYC9mL2dzr8nHiraxBJ+y3AAOpc//DIQNiHAAAAAElFTkSuQmCC)
    no-repeat 0 0;
  display: inline-block;
  vertical-align: middle;
  font-size: 0px;
}

.tui-pagination .tui-prev-is-ellip,
.tui-pagination .tui-next-is-ellip {
  padding: 0;
  line-height: 1;
}

.tui-pagination .tui-prev {
  margin-right: 13px;
}

.tui-pagination .tui-next {
  margin-left: 13px;
}

.tui-pagination .tui-ico-first {
  width: 11px;
  height: 10px;
  background-position: 0px 0px;
}

.tui-pagination .tui-ico-prev {
  width: 6px;
  height: 10px;
  background-position: -26px 0px;
}

.tui-pagination .tui-ico-next {
  width: 6px;
  height: 10px;
  background-position: -13px -24px;
}

.tui-pagination .tui-ico-last {
  width: 11px;
  height: 10px;
  background-position: 0px -12px;
}

.tui-pagination .tui-ico-ellip {
  width: 10px;
  height: 2px;
  margin-top: 16px;
  vertical-align: top;
  background-position: 0px -24px;
}

.tui-pagination .tui-is-disabled:hover {
  background: var(--secondary-bg-green-color);
  cursor: default;
}

.tui-pagination .tui-is-disabled .tui-ico-prev {
  background-position: -26px -12px;
}

.tui-pagination .tui-is-disabled .tui-ico-first {
  background-position: -13px 0px;
}

.tui-pagination .tui-is-disabled .tui-ico-next {
  background-position: -21px -24px;
}

.tui-pagination .tui-is-disabled .tui-ico-last {
  background-position: -13px -12px;
}

.tui-page-inputs {
  display: inline-block;
  vertical-align: top;
}

.tui-page-inputs .tui-page-input {
  display: inline-block;
  width: 10px;
  height: 12px;
  padding: 8px 0 6px;
  font-size: 12px;
  text-align: center;
  color: #333;
  border: 0;
  outline: none;
}

.tui-page-inputs .tui-page-current {
  color: var(--secondary-bg-green-color);
}

.tui-page-separator {
  display: inline-block;
  font-size: 12px;
  height: 12px;
  padding: 8px 0 6px;
  vertical-align: top;
}

.tui-first {
  display: none !important;
}

.tui-last {
  display: none !important;
}

.tui-next-is-ellip {
  display: none !important;
}

.tui-prev-is-ellip {
  display: none !important;
}

.tui-prev {
  width: 40px !important;
  height: 40px !important;
}

.tiu-next {
  width: 40px !important;
  height: 40px !important;
  padding: 0 !important;
  line-height: 50px !important;
}

.tui-page-btn {
  width: 40px !important;
  height: 40px !important;
}

.tui-next:hover {
  background: var(--secondary-bg-green-color);
}

.tui-prev:hover {
  background: var(--secondary-bg-green-color);
}

.tui-pagination {
  display: flex;
}

.tui-is-disabled + .tui-prev {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'%3E%3Cpath d='M14.5 16L10.5 12L14.5 8' stroke='%23A3A3A3' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.tui-is-disabled + .tui-next {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'%3E%3Cpath d='M10.5 8L14.5 12L10.5 16' stroke='%23A3A3A3' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
