.is-overflow-hidden {
  overflow: hidden;
}

.modal-product-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--backdrop-background);
  width: 100%;
  height: 100%;
}

.modal-product {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) scale(0.5);
  border-radius: 20px;
  background: var(--card-bg-color);
  padding: 40px 20px;
  opacity: 0.8;
  animation: appear 0.8s ease-in-out forwards;
}

@keyframes appear {
  0% {
    opacity: 0.8;
    transform: translateX(-50%) translateY(-50%) scale(0.5);
  }
  70% {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1.1);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);
  }
}

.modal-product-img-wrapper {
  overflow: hidden;
}

.modal-product-img {
  transition: transform, 0.5s;
}

.modal-product-img:hover {
  transform: scale(1.2);
}

.modal-btn-close {
  padding: 0;
  position: absolute;
  top: 14px;
  right: 14px;
  width: 22px;
  height: 22px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  background: var(--card-bg-color);
}

.modal-product-info {
  display: block;
}

.modal-product-img {

  background-color: var(--primary-bg-color);
  border-radius: 10px;
  padding:26px 67px;

}

.modal-product-description {
display: flex;
flex-direction: column;
padding-top: 20px;
}

.modal-title {
  font-family: 'Neue Montreal Medium';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.1;
  padding-bottom: 10px;
}

.modal-product-list {
  display: flex;
  width: 295px;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 9px;
  height: auto;
}

.modal-product-item {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 4px;
}

.modal-product-caption {
  font-family: 'Neue Montreal Regular';
  color: var(--span-info-color);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  display: flex;
  align-items: flex-end;
}

.modal-product-content {
  font-family: 'Neue Montreal Regular';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  display: flex;
  align-items: flex-end;
}

.modal-product-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  color: var(--modal-text);
  font-family: 'Neue Montreal Regular';
  width: 100%;
  overflow: auto;
  padding-top: 20px;
  height: 74px;
  padding: 5px;
  margin-top: 20px;
}

.modal-product-wrapper-price {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.modal-product-price {
  font-family: 'Neue Montreal Medium';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.1;
  display: flex;
  align-items: flex-end;
}

.modal-product-btn-price {
  color: var(--title-white-text-color);
  font-family: 'Neue Montreal Medium';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.28;
  border-radius: 30px;
  background: var(--secondary-bg-green-color);
  display: flex;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
}

.modal-product-btn-price:hover,
.modal-product-btn-price:focus {
  background: var(--primary-bg-green-color);
}

.modal-icon-svg {
  fill: var(--primary-bg-color);
}
