body {
  overflow-x: hidden;
}
::-webkit-scrollbar,
::-webkit-scrollbar:horizontal {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:horizontal {
  background: var(--primary-bg-green-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
  background: var(--secondary-bg-green-color);
}

.product-card-general {
  cursor: pointer;
  position: relative;
  border-radius: 20px;
  background-color: var(--card-bg-color);
  transition: transform 0.2s;
}

.product-card-general:hover {
  box-shadow: 0px 85px 62px rgba(0, 0, 0, 0.01),
    0px 57px 52px rgba(0, 0, 0, 0.05), 0px 39px 39px rgba(0, 0, 0, 0.09),
    0px 10px 21px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);
  transform: scale(1.01);
}

.product-list {
  padding-top: 22px;
}

.products-list-general {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 80px;
  width: 100%;
}

.product-card-general {
  width: 100%;
  border-radius: 20px;
  row-gap: 20px;
}

.img-wrapper {
  padding: 20px;
}
.card-img {
  padding: 19px 78px;
  border-radius: 10px;
  background-color: #e8e8e2;
}
.general-span-info {
  color: var(--span-info-color);
  font-family: 'Neue Montreal Regular';
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;

  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4px;
}
.general-card-title {
  color: var(--title-black-text-color);
  font-family: 'Neue Montreal Medium';
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  padding-left: 20px;
  margin-bottom: 3px;
}
.general-span-container {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}
.span-info-value {
  color: var(--title-black-text-color);

  font-family: 'Neue Montreal Regular';
  font-size: 12px;
  font-weight: 400;
  line-height: 1.6;
}

.general-card-price {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 20px 20px 16px;
}
.general-span-price {
  display: block;
  color: var(--title-black-text-color);
  font-family: 'Neue Montreal Medium';
  font-weight: 500;
  font-size: 18px;
  padding-left: 4px;
  line-height: 1.11;
}

.addToCart-btn {
  display: flex;
  width: 34px;
  height: 34px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: var(--secondary-bg-green-color);
  border: none;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.cart-svg {
  fill: var(--white-color);
}

.products-list-popular {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  margin-bottom: 20px;
}

.popular-product-card {
  cursor: pointer;
  display: flex;
  gap: 10px;
  border-radius: 10px;
  padding: 12px;
  background-color: var(--card-bg-color);
  position: relative;
}

.popular-product-card:hover {
  box-shadow: 0px 155px 62px rgba(0, 0, 0, 0.01),
    0px 57px 52px rgba(0, 0, 0, 0.05), 0px 39px 39px rgba(0, 0, 0, 0.09),
    0px 10px 21px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.6s cubic-bezier(0.15, 0.83, 0.66, 1);
  transform: scale(1.01);
}

.popular-card-btn {
  position: absolute;
  top: 12%;
  right: 3%;

  border-radius: 50%;
  border: none;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--primary-bg-color);
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--secondary-bg-green-color);
}

.popular-card-btn:hover,
.popular-card-btn:focus {
  background-color: var(--secondary-bg-green-color);
  fill: var(--primary-bg-color);
}

.popular-title {
  color: var(--title-black-text-color);
  font-family: 'Neue Montreal Medium';
  font-size: 24px;
  line-height: 1.16;
  margin-bottom: 20px;
}

.poppular-img-wrapper {
  width: 74px;
  height: 74px;
  padding: 9px;
  border-radius: 10px;
  background-color: var(--primary-bg-color);
}
.popular-card-img {
  padding: 9px;
  width: 56px;
}
.popular-card-info {
  width: 184px;
}
.popular-card-title {
  color: var(--title-black-text-color);
  font-family: 'Neue Montreal Medium';
  font-size: 20px;
  font-weight: 500;
  line-height: 1.11;

  margin-bottom: 10px;
}

.popular-span-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 9px;
}
.popular-span-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 9px;
  color: var(--span-info-color);
  font-family: 'Neue Montreal Regular';
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
}

.popular-cart-svg {
  width: 100%;
}

.products-list-discount {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
  height: 485px;
  overflow: scroll;
  overflow-x: hidden;
  margin-bottom: 80px;
}

.discount-title {
  color: #010101;
  font-family: 'Neue Montreal Medium';
  font-size: 24px;
  line-height: 1.16;

  margin-bottom: 20px;
}
.discount-product-card {
  cursor: pointer;
  width: 100%;
  height: 232px;
  background-color: var(--card-bg-color);
  border-radius: 15px;
  padding: 16px;
  transition: transform 0.2s;
}
.discount-product-card:hover {
  box-shadow: 0px 17px 52px rgba(0, 0, 0, 0.05),
    0px 10px 21px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.6s cubic-bezier(0.15, 0.83, 0.66, 1);
  transform: scale(1.01);
}
.discount-img-wrapper {
  padding: 18px 95px;
  position: relative;
  display: block;
  background: var(--primary-bg-color);
  border-radius: 10px;
  margin-bottom: 23px;
}

.discount-svg-icon {
  position: absolute;
  top: -14px;
  right: -14px;
}
.discount-card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.discount-card-title {
  color: var(--title-black-text-color);
  font-family: 'Neue Montreal Medium';
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
}

.discount-card-price {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
}

.span-price {
  color: var(--title-black-text-color);
  font-family: 'Neue Montreal Medium';
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
}

.general-discount-svg {
  position: absolute;
  top: 3px;
  right: 10px;
  display: none;
}
.discount-label {
  display: block;
}
