.sorry-wrapper {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: row;
  gap: 12px;
}
.sorry-message-text {
  color: var(--title-black-text-color);
  font-family: 'Neue Montreal Medium';
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
}
.emoji-sorry {
  font-size: 36px;
}
