<section class="filters">
  <div class="container filters-container">
    <p class="filters-title">Filters:</p>
    <form class="filters-form">
      <div class="filters-search-wrap">
        <input
          class="filters-input"
          type="text"
          placeholder="Search for anything"
        />
        <button class="filters-search-btn" type="submit">
          <svg class="search-svg" width="20" height="20">
            <use href="./img/icons.svg#baseline-search"></use>
          </svg>
        </button>
      </div>

      <div class="filters-wrap">
        <div class="filters-categories">Categories</div>
        <ul class="filters-categories-list"></ul>

        <svg class="filters-down-svg" width="20" height="20">
          <use href="./img/icons.svg#chevron-down"></use>
        </svg>
      </div>

      <div class="filters-wrap">
        <div class="filters-allTypes">A to Z</div>
        <ul class="filters-allTypes-list">
          <li class="filters-allTypes-item">A to Z</li>
          <li class="filters-allTypes-item">Z to A</li>
          <li class="filters-allTypes-item">Cheaper first</li>
          <li class="filters-allTypes-item">Expensive first</li>
          <li class="filters-allTypes-item">Popular</li>
          <li class="filters-allTypes-item">Not popular</li>
          <li class="filters-allTypes-item">Show all</li>
        </ul>

        <svg class="filters-down-svg" width="20" height="20">
          <use href="./img/icons.svg#chevron-down"></use>
        </svg>
      </div>
    </form>
  </div>
</section>
