<section id="footer" class="footer container">
    <div class="container">
        <div class="footer-container">
            <div class="socials-logo-footer">
                <div class="logo-footer">
                    <a class="footer-logo link" href="./index.html">
                        <svg class="svg-logo-footer">
                            <use href="./img/icons.svg#cabbage"></use>
                        </svg>
                        <span class="footer-logo-span">Food Boutique</span></a>
                </div>
                <div class="solials">
                    <ul class="socials-list-footer">
                        <li class="socials-item">
                            <a class="footer-url link" target="_blank" href=" https://www.facebook.com/goITclub/">
                                <svg class="svg-soc-footer" width="40" height="40">
                                    <use href="./img/icons.svg#facebook" alt="#"></use>
                                </svg></a>
                        </li>
                        <li>
                            <a class="footer-url link" target="_blank" href=" https://www.instagram.com/goitclub/ ">

                                <svg class="svg-soc-footer" width="40" height="40">
                                    <use href="./img/icons.svg#instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a class="footer-url link" target="_blank" href="https://www.youtube.com/c/GoIT">
                                <svg class="svg-soc-footer" width="40" height="40">
                                    <use href="./img/icons.svg#youtube"></use>
                                </svg>
                            </a>

                        </li>
                    </ul>
                </div>

            </div>



            <div class="subscribe-text">
                <div class="information-footer">
                    <h2 class="footer-title">Discover the Variety of Flavors and Quality</h2>
                    <p class="footer-text">An online store where you will find fresh, natural and delicious products for
                        a
                        healthy life and unforgettable
                        gastronomic adventures.</p>
                </div>

                <div class="form-wrap">
                    <p class="text-footer-sbsc">Subscribe and learn about new products!</p>
                    <form class="form-subscription">
                        <label class="footer-form-label">
                            <input class="input-subscription" type="email" name="user-email" id="user-email"
                                placeholder="E-mail" required pattern="@" /></label>
                        <button class="submit-btn" type="submit">Send</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="footer-policy">
            <div class="footer-using-1">
                <p class="footer-text-last">Food Boutique.All rights reserved.</p>
            </div>

            <div class="footer-using-2">
                <a class="footer-agree" href="#" target="_blank">Privacy Policy</a><span class="footer-slash">/</span> /
                <a class="footer-agree-2" href="#" target="_blank">Terms of
                    Servise</a>
            </div>
        </div>
    </div>

</section>