<footer class="footer-section">
  <div class="container">
    <div class="footer-l-r">
      <div class="footer-left">
        <div class="footer-logo-wrapper">
          <a class="footer-logo-link" href="./index.html">
            <svg class="footer-logo-icon">
              <use href="./images/icons.svg#cabbage"></use>
            </svg>
            <span class="footer-logo-span">Food Boutique</span>
          </a>
        </div>
        <div class="footer-soc-wrapper">
          <ul class="footer-soc-list">
            <li class="footer-soc-item">
              <a
                href="https://www.facebook.com/goITclub/"
                class="footer-soc-link"
                target="_blank"
                rel="noreferrer noopener"
              >
                <svg class="footer-soc-svg" height="40" width="40">
                  <use href="./images/icons.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="footer-soc-item">
              <a
                href="https://www.instagram.com/goitclub/"
                class="footer-soc-link"
                target="_blank"
                rel="noreferrer noopener"
              >
                <svg class="footer-soc-svg" height="40" width="40">
                  <use href="./images/icons.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="footer-soc-item">
              <a
                href="https://www.youtube.com/c/GoIT"
                class="footer-soc-link"
                target="_blank"
                rel="noreferrer noopener"
              >
                <svg class="footer-soc-svg" height="40" width="40">
                  <use href="./images/icons.svg#youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-right">
        <div class="footer-text-wrapper">
          <h2 class="footer-title">
            Discover the Variety of Flavors and Quality
          </h2>
          <p class="footer-text">
            An online store where you will find fresh, natural and delicious
            products for a healthy life and unforgettable gastronomic
            adventures.
          </p>
        </div>
        <div class="footer-form-wrapper">
          <h3 class="footer-form-title">
            Subscribe and learn about new products!
          </h3>
          <form class="footer-form">
            <label class="footer-form-label">
              <input
                class="footer-form-input"
                type="email"
                placeholder="Email"
                id="user-email"
                required
                pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
              />
            </label>
            <button type="submit" class="footer-form-btn">Send</button>
          </form>
        </div>
      </div>
    </div>
    <div class="footer-privacy-wrapper">
      <p class="footer-subtitle">Food Boutique. All rights reserved.</p>
      <div class="footer-privacy-right">
        <a
          href="#"
          class="footer-privacy"
          target="_blank"
          rel="noopener noreferrer"
          >Privacy Policy</a
        >
        <span class="footer-span">/</span>
        <a
          href="#"
          class="footer-terms"
          target="_blank"
          rel="noopener noreferrer"
          >Terms of Service</a
        >
      </div>
    </div>
  </div>
</footer>
