<header class="header-page">
  <div class="container header-page-container">
    <nav class="header-page-navigation">
      <ul class="header-list">
        <li class="header-first-elements">
          <a class="header-logotype" href="./index.html">
            <svg
              class="header-logotype-icon"
              width="28"
              height="28"
              aria-label="Food Boutique logotype icon"
            >
              <use href="./images/icons.svg#cabbage"></use></svg
            ><span>Food Boutique</span>
          </a>
        </li>
        <li class="header-second-elements">
          <a class="header-home-ref" href="./index.html">Home</a>
        </li>
        <li class="header-third-elements">
          <a class="header-shopping-card-link" href="./cart.html">
            <svg
              class="header-logotype-icon-card"
              width="38"
              height="38"
              aria-label="header-shopping-card"
            >
              <use href="./images/icons.svg#shopping-cart"></use>
            </svg>
            <p class="hidden">CART (<span id="header-length"></span>)</p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
