<header class="header">
    <div class="header-container container">
        <nav class="header-navigation">
            <ul class="header-list">
                <li class="header-logo">
                    <a class="header-logo-url" href="./index.html">
                        <svg class="header-logo-icon" width="28" height="28" aria-label="Food Boutique logotype icon">
                            <use href="./img/icons.svg#cabbage"></use>
                        </svg><span>Food Boutique</span>
                    </a>
                </li>
                <li class="header-home"><a class="header-home" href="./index.html">Home</a></li>
                <li class="header-card">
                    <a class="header-card-url" href="./cart-page.html">
                        <svg class="header-icon-card" width="38" height="38" aria-label="header-shopping-card">
                            <use href="./img/icons.svg#shopping-cart"></use>
                        </svg>
                        <p class="hidden">CART (<span id="header-length"></span>)</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>