<section class="hero">
  <div class="container hero-container">
    <h1 class="hero-title">
      Welcome to the <span class="hero-title-accent">Food</span> Boutique!
    </h1>
    <p class="hero-text">
      With Food Boutique, you're not just subscribing to food, you're signing up
      for a fresher, fitter, and happier you.
    </p>
    <div class="hero-picture-block slider-container">
      <picture class="hero-picture active">
        <source
          media="(min-width: 1440px)"
          srcset="./img/base_image.webp 1x, ./img/base_image@2x.webp 2x"
        />
        <source
          media="(min-width: 768px)"
          srcset="./img/base_image_tab.webp 1x, ./img/base_image_tab@2x.webp 2x"
        />
        <source
          media="(min-width: 320px)"
          srcset="./img/base-image_mob.webp 1x, ./img/base-image_mob@2x.webp 2x"
        />
        <img
          class="hero-img"
          src="./img/base_image.jpg"
          alt="Women sportswear working out outdoors"
          width="259"
          loading="lazy"
        />
      </picture>
      
      <svg class="organic-food-icon" width="100" height="100">
        <use href="./img/icons.svg#organic-food"></use>
      </svg>
    </div>
  </div>
</section>
