<div class="order-backdrop is-hidden">
  <div class="order-modal">
    <svg class="order-close-icon">
      <use href="./img/icons.svg#icon-close"></use>
    </svg>
    <img class="order-image" src="./img/tomatos.jpg" alt="order-image" />
    <h2 class="order-title">Order success</h2>
    <p class="order-text">
      Thank you for shopping at Food Boutique. Your order has been received and
      is now being freshly prepared just for you! Get ready to indulge in
      nourishing goodness, delivered right to your doorstep. We're thrilled to
      be part of your journey to better health and happiness.
    </p>
  </div>
</div>
