<div class="modal-product-backdrop" data-modal>
  <div class="modal-product">
    <button type="button" class="modal-btn-close" data-modal-close>
      <svg class="modal-svg-close" width="28" height="28">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>

    <div class="modal-product-info">
      <div class="modal-product-img-wrapper">
        <img
          class="modal-product-img"
          src=""
          alt="modal-product-image"
          width="160"
        />
      </div>

      <div class="modal-product-description">
        <h2 class="modal-title">Pumpkin</h2>

        <ul class="modal-product-list">
          <li class="modal-product-item">
            <h3 class="modal-product-caption">Category:</h3>
            <p class="modal-product-content">Fresh Produce</p>
          </li>
          <li class="modal-product-item">
            <h3 class="modal-product-caption">Size:</h3>
            <p class="modal-product-content">1 medium-sized</p>
          </li>
          <li class="modal-product-item">
            <h3 class="modal-product-caption">Popularity:</h3>
            <p class="modal-product-content">0</p>
          </li>
        </ul>

        <p class="modal-product-text">
          A round, orange vegetable with a thick shell and seeds inside. It is
          often used in cooking and baking for its sweet and earthy flavor.
        </p>
      </div>
    </div>

    <div class="modal-product-wrapper-price">
      <p class="modal-product-price"><span>&#36;</span>2.99</p>
      <button type="submit" class="modal-product-btn-price">
        Add to
        <svg class="modal-btn-svg" width="18" height="18">
          <use
            class="modal-icon-svg"
            href="./img/icons.svg#icon-shopping-cart"
          ></use>
        </svg>
      </button>
    </div>
  </div>
</div>
